//colors
$color_gallery_approx: #eeeeee;
$color_cornflower_approx: #9bd2eb;
$color_cerulean_approx: #009ce7;
$white: white;
$color_neptune_approx: #75a7bc;
$baby_blue: lightcyan;
$color_suva_gray_approx: #888888;
$color_hoki_approx: #628797;
$color_sweet_pink_approx: #ff9ea7;
$color_froly_approx: #ff7b85;
$color_your_pink_approx: lightpink;
$lavender_blush: #fff0f5;
$color_dolly_approx: #f1ff8b;
$color_husk_approx: #9da94d;
$color_mimosa_approx: lightgoldenrodyellow;

//fonts
$font_0: Roboto;
$font_1: sans-serif;

body {
	background-color: $color_gallery_approx;
}
.flexContainerColumna {
	display: inline-flex;
	background-color: $color_cornflower_approx;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-right: 50px;
	margin-left: 50px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 560px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 7px 0 $color_cerulean_approx;
}
.flexContainerFila {
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	div {
		width: 16%;
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: auto;
		flex: 0 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		background-color: $white;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		color: transparent !important;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: none !important;
		border: none !important;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 7px 0 $color_neptune_approx;
		&:hover {
			background-color: $baby_blue;
		}
		&:active {
			height: 67px;
		}
	}
}
h2 {
	font-family: $font_0, $font_1;
	text-align: center;
	color: $color_suva_gray_approx;
}
#result {
	width: 370px;
	background-color: $color_neptune_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 -7px 0 $color_hoki_approx;
	height: 63px;
	h2 {
		text-align: right;
		color: $white;
	}
}
#c {
	background-color: $color_sweet_pink_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 7px 0 $color_froly_approx;
	&:hover {
		background-color: $color_your_pink_approx;
	}
	&:active {
		height: 68.812px;
	}
	h2 {
		color: $white;
	}
}
#mas {
	background-color: $lavender_blush;
	&:hover {
		background-color: $color_your_pink_approx;
	}
}
#menos {
	background-color: $lavender_blush;
	&:hover {
		background-color: $color_your_pink_approx;
	}
}
#por {
	background-color: $lavender_blush;
	&:hover {
		background-color: $color_your_pink_approx;
	}
}
#entre {
	background-color: $lavender_blush;
	&:hover {
		background-color: $color_your_pink_approx;
	}
}
#igual {
	background-color: $color_dolly_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 7px 0 $color_husk_approx;
	&:hover {
		background-color: $color_mimosa_approx;
	}
}