//Variables
$robotoF: Roboto;
$sansF: sans-serif;
$fondoBody: #eeeeee;
$fondoCalc: #9bd2eb;
$sombraCalc: #009ce7;
$white: white;
$sombraDiv: #75a7bc;
$fondoDiv: lightcyan;
$texto: #888888;
$resultadoC: #628797;
$resetC: #ff9ea7;
$sombraResetC: #ff7b85;
$hoverDiv1: lightpink;
$fondoOperadoresDiv: #fff0f5;
$igualFondo: #f1ff8b;
$sombraIgualFondo: #9da94d;
$hoverIgualDiv: lightgoldenrodyellow;

//mixin para el redondeo de los botones
@mixin border-radius($radius) {
  border-radius: $radius;
}

//mixin para las sombras
@mixin box-shadow($elem1, $elem2, $elem3, $elem4) {
  box-shadow: $elem1 $elem2 $elem3 $elem4;
}

body {
	background-color: $fondoBody;
}
.flexContainerColumna {
	display: inline-flex;
	background-color: $fondoCalc;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-right: 50px;
	margin-left: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 560px;
	@include box-shadow(0, 7px, 0, $sombraCalc);
	@include border-radius(5px);
}
.flexContainerFila {
	display: flex;
	align-items: flex-end;
	flex-wrap: nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	div {
		width: 16%;
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: auto;
		flex: 0 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		background-color: $white;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
		@include border-radius(5px);
		color: transparent !important;
		text-shadow: none !important;
		border: none !important;
		@include box-shadow(0, 7px, 0, $sombraDiv);
		&:hover {
			background-color: $fondoDiv;
		}
		&:active {
			height: 67px;
		}
	}
}
h2 {
	font-family: $robotoF, $sansF;
	text-align: center;
	color: $texto;
}
#result {
	width: 370px;
	background-color: $sombraDiv;
	@include box-shadow(0, -7px, 0, $resultadoC);
	height: 63px;
	h2 {
		text-align: right;
		color: $white;
	}
}
#c {
	background-color: $resetC;
	@include box-shadow(0, 7px, 0, $sombraResetC);
	&:hover {
		background-color: $hoverDiv1;
	}
	&:active {
		height: 68.812px;
	}
	h2 {
		color: $white;
	}
}
#mas {
	background-color: $fondoOperadoresDiv;
	&:hover {
		background-color: $hoverDiv1;
	}
}
#menos {
	background-color: $fondoOperadoresDiv;
	&:hover {
		background-color: $hoverDiv1;
	}
}
#por {
	background-color: $fondoOperadoresDiv;
	&:hover {
		background-color: $hoverDiv1;
	}
}
#entre {
	background-color: $fondoOperadoresDiv;
	&:hover {
		background-color: $hoverDiv1;
	}
}
#igual {
	background-color: $igualFondo;
	@include box-shadow(0, 7px, 0, $sombraIgualFondo);
	&:hover {
		background-color: $hoverIgualDiv;
	}
}